{# index.twig #}
{% extends "layoutMain.twig" %}
{% block title %} Билеты {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block actBilet %}active{% endblock %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Билеты</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a type="button" class="btn btn-sm btn-primary" href="/bilet/add">Добавить</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Авиакомпания</th>
                    <th>Касса</th>
                    <th>Кассир</th>
                    <th>Тип</th>
                    <th>Дата продажи</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% if bilets %}
                    {% for bilet in bilets%}
                        <tr>
                            <td>{{ bilet.id }}</td>
                            <td>{{ bilet.shifr_aviakompanii }} | {{ bilet.nazvanie_a }}; {{ bilet.naselennyj_punkt_a }},
                                {{ bilet.ulica_a }}, {{ bilet.nomer_doma_a }}, {{ bilet.ofis_a }}</td>
                            <td>{{ bilet.nomer_kassy }} | {{ bilet.naselennyj_punkt }}, {{ bilet.ulica }},
                                {{ bilet.nomer_doma }}</td>
                            <td>{{ bilet.tabelnyj_nomer_kassira }} | {{ bilet.familiya }} {{ bilet.imya }}
                                {{ bilet.otchestvo }}</td>
                            <td>{{ bilet.tip }}</td>
                            <td>{{ bilet.data_prodazhi }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="nav-link" href="/bilet/edit/?id={{ bilet.id }}">
                                        <span data-feather="edit"></span>
                                    </a>
                                    <a class="nav-link" href="/bilet/delete/?id={{ bilet.id }}">
                                        <span data-feather="x-square"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}