{# listClientsOnDate.twig #}
{% extends "layoutMain.twig" %}
{% block title %} Отчет {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Список клиентов авиакомпаний на заданную дату</h1>
        </div>
        <form method="post">
            <div class="mb-3 col-lg-4">
                <label for="FormControlData" class="form-label">Дата продажи</label>
                <input type="date" name="data_prodazhi" class="form-control" id="FormControlData" required>
            </div>
            <div class="btn-group">
                <button type="input" name="show" class="btn btn-primary me-2">Показать</button>
                <button type="input" name="report" class="btn btn-primary">Отчёт</button>
            </div>
        </form>
        {% if clients %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Серия и номер паспорта</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчетство</th>
                    <th>Авиакомпания</th>
                    <th>Пункт посадки</th>
                    <th>Пункт высадки</th>
                    <th>Тип</th>
                    <th>Тариф</th>
                    <th>Дата продажи</th>
                </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.nomer_i_seriya_pasporta }}</td>
                            <td>{{ client.familiya }}</td>
                            <td>{{ client.imya }}</td>
                            <td>{{ client.otchestvo }}</td>
                            <td>{{ client.shifr_aviakompanii }} | {{ client.nazvanie }}; {{ client.naselennyj_punkt }},
                                {{ client.ulica }}, {{ client.nomer_doma }}, {{ client.ofis }}</td>
                            <td>{{ client.nunkt_posadki }}</td>
                            <td>{{ client.nunkt_vysadki }}</td>
                            <td>{{ client.tip }}</td>
                            <td>{{ client.tarif }}</td>
                            <td>{{ client.data_prodazhi }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if nope %}
            <div class="alert alert-warning mt-3" role="alert">
                Нет результатов
            </div>
        {% endif %}
    </main>
{% endblock %}