{# edit.twig #}
{% extends "layoutMain.twig" %}
{% block title %} Редактирование {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block actKassa %}active{% endblock %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Редактировать кассу</h1>
        </div>
        <form method="post">
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Населенный пункт</label>
                <input type="text" name="naselennyj_punkt" class="form-control" id="exampleFormControlInput1" value="{{ kassa.naselennyj_punkt }}" required min="1" max="255">
            </div>
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Улица</label>
                <input type="text" name="ulica" class="form-control" id="exampleFormControlInput1" value="{{ kassa.ulica }}" required min="1" max="255">
            </div>
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Номер дома</label>
                <input type="text" name="nomer_doma" class="form-control" id="exampleFormControlInput1" value="{{ kassa.nomer_doma }}" required min="1" max="255">
            </div>
            <button type="input" name="save" class="btn btn-primary">Редактировать</button>
        </form>
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}